/* // Outer Rectangle */
.navbar {
  margin: 100px 0px;
  display: flex;
  gap: 1rem;
  background: rgba(200, 200, 200, 0.25);
  box-shadow: inset 0px 4px 14.3px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  padding: 0.5rem 1rem;
  border-radius: 100rem;
  align-items: center;
}

.navigation-items {
  display: flex;
  width: 550px;
  position: relative;
  align-items: center;
  min-height: 2.5rem;

  > input[type="radio"] {
    display: none;
  }

  > label:hover {
    cursor: pointer;
  }
}

.navigation-items input[type="radio"]:nth-of-type(2):checked ~ .selector {
  left: 20%;
}
.navigation-items input[type="radio"]:nth-of-type(3):checked ~ .selector {
  left: 40%;
}
.navigation-items input[type="radio"]:nth-of-type(4):checked ~ .selector {
  left: 60%;
}
.navigation-items input[type="radio"]:nth-of-type(5):checked ~ .selector {
  left: 80%;
}

.selector {
  background: rgba(162, 162, 162, 0.4);
  border-radius: 100rem;
  position: absolute;
  width: 20%;
  height: 100%;
  left: 0;
  padding: 10px;
  z-index: -10;
  box-shadow: inset 0px 4px 14.3px rgba(0, 0, 0, 0.1);
  transition: all 0.35s ease-in-out;
}

.icon {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: x-large;
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
}

.text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Inter" sans-serif;
  font-weight: 700;
  width: 20%;
  text-align: center;
}

.switch {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* 


// Logo

position: absolute;
width: 44px;
height: 48px;
left: 318px;
top: 61px;

font-family: "Inknut Antiqua";
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 100%;
// identical to box height, or 48px
text-align: center;

color: #000000;

*/
