$bg-primary: #f5f5f7;
$bg-secondary: #ffffff;
$text-color: #000000;
$icon-font-family: "Inknut Antiqua", serif;
$animation-duration: 5s;
$animation-direction: forward;

$box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

.scroller {
  height: 300px;
  display: flex;
  align-items: center;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 1%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0) 99%
  );

  .scroller-list {
    rotate: 5deg;
    display: flex;
    gap: 1rem;
    padding-block: 1rem;
    width: 100%;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
    .scoller-list-item {
      border-radius: 10px;
      color: $text-color;
      background-color: $bg-secondary;
      box-shadow: $box-shadow;
      font-family: "SF Pro Display";
      font-weight: 900;
      font-size: 20px;
      padding: 2rem 4rem;
    }
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
